<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>url</param-name>
		<param-value>jdbc:postgresql://gegevensbanken.khleuven.be:51314/webontwerp</param-value>
	</context-param>

	<context-param>
		<param-name>user</param-name>
		<param-value>daily.build</param-value>
	</context-param>

	<context-param>
		<param-name>password</param-name>
		<param-value>irooZiNgae0daiba</param-value>
	</context-param>

	<context-param>
		<param-name>ssl</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>sslfactory</param-name>
		<param-value>org.postgresql.ssl.NonValidatingFactory</param-value>
	</context-param>

	<context-param>
		<param-name>currentSchema</param-name>
		<param-value>test_u0082726</param-value>
	</context-param>
</web-app>